body {
	font: 24px Raleway;
	background: #CDCDCD;
    padding: 0;
    margin: 0;
    border: 0px;
    display: flex;
    flex-flow: column;
    flex-grow: 10;
}

content {
    display: flex;
    flex-flow: row;

}

header, footer {
	margin: 0px;
	padding: 0px;
	min-height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
}

header {
    margin-top: 80px;
}

nav1 {
    background: #CDCDCD;
    flex-grow: 0.2;
}

content1 {
    background: #fff;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    width: 1000px;
}

footer {
    background: white;
}

nav2 {
    background: #CDCDCD;
    flex-grow: 0.2;
}

#logo > img:hover {
    filter: grayscale(0%);    
    transform: scale(1.1) rotate3d(1, 2.0, 3.0, 10deg);
}

#logo:hover {
    background-color: #FFF;
}

#logo {
    align-self: flex-end;
}

#logo > img {    
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
}

nav {
    width: 89.5%;    
    display: flex;    
    flex-flow: row;
    background: #fff;
    box-shadow: 0px 4px 37px -4px #CDCDCD;
    position: fixed;
    height: 70px;
}

navtext {
    display: flex;
    flex-flow: row;
    background: white;
    text-decoration: none;
    margin-top: 25px;
}

h2 {
    color: #CDCDCD;
    text-align: right;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
}



h1 {
    font: 54px Raleway;
    color: #CDCDCD;
    padding-left: 0px;
    margin: 0;
}

p {
    font: 15px Raleway;
    color: #CDCDCD;
    padding: 0px;
}

article {
    display: flex;
    flex-flow: row;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    background: #fff;
    width: 800px;
    margin-left: 16%;
}

article1 {
    display: flex;
    flex-flow: column;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    
    
}

a {
    color:#CDCDCD;
    margin-left: 60px; 
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color:#9E9E9E;
    margin-left: 60px; 
    text-decoration: none;
    font-weight: normal;

}


dropdown a {
    color:#CDCDCD;
    margin-left: 60px; 
    text-decoration: none;
    font-weight: normal;
    display: inline-block;

}

ul {
  display: inline;
  margin: 0;
  padding: 0;
  
}

ul li {
    display: inline-block;
    
}

ul li:hover ul {
    display: block;
    width: 250px;
    
}

ul li ul {
  position: absolute;
  padding-left: 60px;
  display: none;

}
ul li ul li { 
  background: #CDCDCD; 
  display: block;
  padding-right: 165px;

}

ul li ul li a, ul li ul li a:hover {
    display: block !important;
    color: #fff;
    margin-left: 5px;
} 

ul li ul li a:hover {
    color: #9e9e9e;
} 